.parallax {
    /* The image used */
    background: linear-gradient(253deg, #ed1f24, #ed5b23, #fdc20e, #ebe70d, #51b847, #52be97, #3f88c8, #4f3d98, #613393, #3c124b);
    background-size: 2000% 2000%;
    -webkit-animation: Qotingcolor1 58s ease infinite;
    -moz-animation: Qotingcolor1 58s ease infinite;
    animation: Qotingcolor1 58s ease infinite;

    /* Create the parallax scrolling effect */
    min-height: 100%; 

}

@-webkit-keyframes Qotingcolor1 {
    0%{background-position:0% 65%}
    50%{background-position:100% 36%}
    100%{background-position:0% 65%}
}
@-moz-keyframes Qotingcolor1 {
    0%{background-position:0% 65%}
    50%{background-position:100% 36%}
    100%{background-position:0% 65%}
}
@keyframes Qotingcolor1 { 
    0%{background-position:0% 65%}
    50%{background-position:100% 36%}
    100%{background-position:0% 65%}
}

.overlay {
    background-color:rgba(255, 255, 255, 0.9);
    width: 100vh;
    height: 100vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.homeButton {
    width:20vh; 
    height:10vh;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 20vh;
    height: 5vh;
    text-align: center;
}