version: 2
jobs:

  test:
    docker:
    - image: circleci/python:3.7
    - image: selenium/standalone-chrome:latest
    working_directory: ~/repo
    steps:
    - checkout
    - run:
        name: Setup venv and installing dependencies
        command: |
          python3 -m venv venv
          sudo pip3 install -r requirements.txt
          sudo pip install codecov
    - run:
        name: Download Selenium
        command: curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
    - run:
        name: Start Selenium
        command: java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
    - run:
        name: Migrate database
        command: |
          python3 manage.py makemigrations
          python3 manage.py migrate
    - run:
        name: Run Tests
        command: |
          python3 manage.py collectstatic
          python3 manage.py test qoting_app/tests
          coverage run manage.py test qoting_app/tests
    - run:
        name: Collect Coverage
        command: |
          codecov

  deploy:
    docker:
    - image: circleci/python:3.7
    working_directory: ~/repo
    steps:
    - checkout
    - run:
        name: Deploy to Heroku
        command: |
          git push https://heroku:$API_KEY@git.heroku.com/qoting-postgre.git master

workflows:
  version: 2
  build-test-deploy:
    jobs:
    - test
    - deploy:
        requires:
        - test
        filters:
          branches:
            only: master