.box{
    border-radius: 75px 75px;
}



.button{
    border: none;
    text-align: center;
    line-height: 250%;
    background-color: rgb(53, 53, 53);
    color: white;
    position: absolute;
    width: 10vh;
    height: 5vh;
    right: 0;
    bottom: 0;
    transition: 1s;
}