<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addquestion.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Add question</title>
</head>
<body style="background-color: #8239bb">
<button class="back-btn button" onclick="location.href = '{% url 'qoting_app:signin' %}'">Back</button>

<form action="{% url 'qoting_app:postaddquestion' %}" method="post">
    {% csrf_token %}
    <br>
    <div  style="alignment: center; margin-top: 2cm" >
        <div >
            <h2 class="label" style="margin-left: 3cm">Adding Question</h2></div>
        <div><input type="text" name="question" placeholder="Please input a question..."></div>
        <div ><input class="add-btn button" style="margin-left: 19.8cm; margin-top: 20px" type="submit" value="Add"></div>
    </div>

</form>


</body>
</html>