<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gameplay.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Admin Login</title>
</head>
<body>
<div class="row border">
    <div style="margin-left: 1cm; padding-top: 0.5cm; padding-bottom: 0.5cm"><h1><font face="piron">Admin Login</font>
    </h1></div>
</div>
<div class="row" align="center">
    <div style="margin-left: 16cm; margin-top: 2cm;" class="border shadow p-3 mb-5 rounded">
        <div style="padding-left: 1cm; padding-right: 1cm; padding-top: 1cm; padding-bottom: 1cm"><h3><font
                face="piron">Username</font></h3><br>
            <input style="size: 10cm" type="text" name="admin_username" placeholder="Please input an username...">
            <h3 style="margin-top: 20px"><font face="piron">Password</font></h3><br>
            <input type="text" name="admin_password" placeholder="Please input a password..."></div>
        <button onclick="location.href='{% url 'qoting_app:adminpostsign' %}'">submit</button>
        <button onclick="location.href='{% url 'qoting_app:signin' %}'">cancel</button>
    </div>
</div>
</body>
</html>