<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Qoting</title>
    {% load static %}
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="http://chancejs.com/chance.min.js"></script>
    <script src="{% static 'scripts/gameplay.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gameplay.css' %}">
</head>
<body>
    <script>
        init("{{num}}")
    </script>
    <form action="{% url 'qoting_app:vote' %}" id="form"></form>
        {% csrf_token %}
        <div>
            <h1>
                Question 1
            </h1>
            <div id="q1">
            </div>
            Answer: <input type="text" id="a1" value="">
        </div>
        <div>
            <h1>
                Question 2
            </h1>
            <div id="q2">
            </div>
            Answer: <input type="text" id="a2" value="">
        </div>
        </br>
        <button class="btn btn-success" onclick="submit_question()">submit</button></hr>
        <div id="remain">

        </div>
</body>

</html>