<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addquestion.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Question</title>
</head>
<body>
<div>
    <div class="row" style="padding-left: 30px; padding-bottom: 20px; border-color: black">
        <div class="col-lg-6"> <h1>Question</h1></div>

        <div class="col-lg-6" style="padding-left: 12cm "><h2>Time left: 60</h2></div>
    </div>

    <div style="margin-top: 2cm" class="row">
        <div style="margin-left: 5cm">
            <h3>Question 1</h3>
            <input style="width: 230%; margin-top: 1cm"type="text" name="question" placeholder="Please input an answer...">
        </div>
        </div>
    </div>

     <div style="margin-top: 2cm" class="row">
        <div style="margin-left: 5cm">
            <h3>Question 2</h3>
            <input style="width: 230%; margin-top: 1cm"type="text" name="question" placeholder="Please input an answer...">
        </div>
        </div>
    </div>

    <div style="margin-top: 7cm; margin-left: 34cm"class="row">

        <button style="" class="button btn btn-dark btn-lg">Submit</button>
    </div>

</div>




</body>
</html>