<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    
    <title>login</title>
</head>

<body>
    <div class="overlay">
        <div class="login-form">
            <img src="{% static 'assets/logo.png' %}" width="100%">
            <form action="{% url 'qoting_app:postsign' %}" method="post">
                {% csrf_token %}
                <input class="input" type="email" name="email" placeholder="Email"><br />
                <input class="input" type="password" name="pass" placeholder="Password"><br />
                <button class="button input" type="submit" style="margin-top:1%;">
                    <span>Login</span>
                    <div class="icon">
                        <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                    </div>
                </button>
            </form>
        </div>
        <div class="button" style="margin-top: 2%;">
            <span>SignIn</span>
            <div class="icon">
                <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
            </div>
        </div>
        <div class="button" style="margin-top: 6%;">
            <span>Google</span>
            <div class="icon">
                <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
            </div>
        </div>
        <div class="button" style="margin-top: 10%;">
            <span>Facebook</span>
            <div class="icon">
                <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
            </div>
        </div>
    </div>
</body>

</html>