{% if message %}
<script>
    alert('{{ message }}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login1.css' %}">
    
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAioE3uCJP-KCBuA7d0JOCzR2u13qupGkY",
            authDomain: "qoting-1ca86.firebaseapp.com",
            databaseURL: "https://qoting-1ca86.firebaseio.com",
            projectId: "qoting-1ca86",
            storageBucket: "qoting-1ca86.appspot.com",
            messagingSenderId: "241026992000"
        };
        firebase.initializeApp(config); 
    
        function toRight() {
            document.getElementById('box').className = 'box toRight';
        }
        function rightBack() {
            document.getElementById('box').className = 'box rightBack';
        }
        //Google signin
        var googleprovider = new firebase.auth.GoogleAuthProvider();
        function googleSignin() {
            firebase.auth().signInWithPopup(googleprovider).then(function(result) {
                var token = result.credential.accessToken;
                var user = result.user;

                console.log(token)
                console.log(user)
            }).catch(function(error){
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;

                console.log(error.code)
            });
        }

        //facebook signin
        var facebookprovider = new firebase.auth.FacebookAuthProvider();
        function facebookSignin() {
            firebase.auth().signInWithPopup(facebookprovider).then(function(result) {
                var token = result.credential.accessToken;
                var user = result.user;

                console.log(token)
                console.log(user)
            }).catch(function(error){
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
                console.log(error.code)
            });
        }
        
    </script>
    <title>login</title>
</head>

<body>
    <div class="overlay">
        <div class="box" id="box">
            <div class="front">
                <div class="login-form">
                    <img src="{% static 'assets/logo.png' %}" width="100%">
                    <form action="{% url 'qoting_app:postsign' %}" method="post">
                        {% csrf_token %}
                        <input class="input" type="email" name="email" placeholder="Email"><br />
                        <input class="input" type="password" name="pass" placeholder="Password"><br />
                        <button class="button input" type="submit" value="SignIn" style="background-color: rgb(34, 145, 20); margin-top:2vh; border:none;">
                            <span>SignIn</span>
                            <div class="icon">
                                <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                            </div>
                        </button>
                    </form>
                </div>
                <div class="button" style="margin-top: 4vh; background-color: rgb(138, 136, 32);" onclick="toRight()">
                    <span>SignUp</span>
                    <div class="icon">
                        <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                    </div>
                </div>
                <div name="googleSignin" class="button" style="margin-top: 11vh; background-color: rgb(156, 45, 17);" onclick="googleSignin()">
                    <form action="{% url 'qoting_app:googleSignin' %}" method="post">
                        {% csrf_token %}
                        <span>Google</span>
                        <div class="icon">
                            <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                        </div>
                    </form>
                </div>
                <div name="facebookSignin" class="button" style="margin-top: 18vh; background-color: rgb(32, 62, 126);" onclick="facebookSignin()">
                    <form action="{% url 'qoting_app:facebookSignin' %}" method="post">
                        {% csrf_token %}
                        <span>Facebook</span>
                        <div class="icon">
                            <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="login-form">
                    <img src="{% static 'assets/signup.png' %}" width="100%">

                    <form action="{% url 'qoting_app:postsignup' %}" method="post">
                        {% csrf_token %}
                        <input class="input" type="name" name="name" placeholder="Name"><br />
                        <input class="input" type="email" name="email" placeholder="Email"><br />
                        <input class="input" type="password" name="passw" placeholder="Password"><br /><br />
                        <div class="button" style="background-color: rgb(86, 206, 56); left:-40%; border:none;">
                            <span>Submit</span>
                            <div class="icon">
                                <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                            </div>
                        </div>
                    </form>
                    <div class="button" style="background-color: rgb(110, 32, 26); left:40%;" onclick="rightBack()">
                        <span>Cancel</span>
                        <div class="icon">
                            <img src="{% static 'assets/play-solid.svg' %}" width="30%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="admin" onclick="location.href = '{% url 'qoting_app:adminlogin' %}'">Admin</button>
</body>

</html>