{% if message %}
    <script>
        alert('{{ message }}')
    </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
{% load static %}
<script src="{% static 'scripts/signup.js' %}">
</script>
<form action="{% url 'qoting_app:postsignup' %}" method="post">
    {% csrf_token %}
    <button onclick="location.href = '{% url 'qoting_app:signin' %}'">Back</button>
    <br>
    Name:
    <input type="text" name="name" required>
    <br>
    Email:
    <input type="email" name="email" required>
    Password:
    <input id="password" type="password" name="passw" required>
    <button onclick="show()">Show</button>
    <input type="submit" value="Signup">
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
</body>
</html>