{% if message %}
<script>
    alert('{{ message }}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <style>
        .back{
            width: 70%;
            transition: 1s;
        }
        .back:hover {
            width: 75%;
            height: 75%;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="alert alert-dark" style="height:10vh">
        <div class="row">
            <div class="col-1">
                <button type="button" style="border: none; background: transparent;" onclick="location.href = '{% url 'qoting_app:logout' %}'">
                    <img class="back" src="{% static 'assets/back.svg' %}">
                </button>
            </div>
            <div class="col-11">
                <H1>Sign Up</H1>
            </div>
        </div>
    </div>
    <form action="{% url 'qoting_app:postsignup' %}" method="post">
        {% csrf_token %}
        <img src="{% static 'assets/name.svg' %}" alt="" width="3%" style="margin-left:1%;">
        <input type="text" placeholder="Name" name="name" style="margin-left:1% ; height: 5vh; border: 2px solid rgb(117, 117, 117);"
            required><br />
        <img src="{% static 'assets/email.svg' %}" alt="" width="3%" style="margin-left:1%;">
        <input type="email" placeholder="Email" name="email" style="margin-left:1% ; height: 5vh; border: 2px solid rgb(117, 117, 117);"
            required><br />
        <img src="{% static 'assets/pass.svg' %}" alt="" width="3%" style="margin-left:1%;">
        <input type="password" placeholder="Password" name="passw" style="margin-left:1% ; height: 5vh; border: 2px solid rgb(117, 117, 117);"
            required>
        <hr />
        <button type="submit" class="btn btn-dark" style="width:15%; margin-left: 3%; padding:0; height: 5vh;">
            submit
        </button>
    </form>
</body>

</html>