{% if message %}
    <script>
        alert('{{ message }}')
    </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn Form</title>
</head>
<body>
<form action="{% url 'qoting_app:postsign' %}" method="post">
    {% csrf_token %}
    Email:
    <input type="email" name="email">
    Password:
    <input type="password" name="pass">
    <input type="submit" value="SignIn">

    <button type="button" onclick="location.href = '{% url 'qoting_app:signup' %}'">Signup</button>
    <button type="button" onclick="location.href = '{% url 'qoting_app:addquestion' %}'">Add question</button>
</form>
</body>
</html>