<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Qoting</title>
    {% load static %}
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="{% static 'scripts/vote1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vote.css' %}">
</head>

<body>
    <form action="{% url 'qoting_app:result' %}" id="form" style="display:none;"></form>
    <h1>Please vote your favourite answers( Click to vote up to 3 answers )</h1>
    <div>
            <div id="q1">
                <div class="alert alert-secondary" id="q1-q">
                    
                </div>
                <button class="btn btn-primary" onclick="voted(1)" id="q1-a1">
                    
                </button></br></br>
                <button class="btn btn-primary" onclick="voted(2)" id="q1-a2">
                    
                </button>
            </div></br>
            <div id="q2">
                <div class="alert alert-secondary" id="q2-q">

                </div>
                <button class="btn btn-primary" onclick="voted(3)" id="q2-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(4)" id="q2-a2">

                </button>
            </div></br>
            <div id="q3">
                <div class="alert alert-secondary" id="q3-q">

                </div>
                <button class="btn btn-primary" onclick="voted(5)" id="q3-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(6)" id="q3-a2">

                </button>
            </div></br>
            <div id="q4">
                <div class="alert alert-secondary" id="q4-q">

                </div>
                <button class="btn btn-primary" onclick="voted(7)" id="q4-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(8)" id="q4-a2">

                </button>
            </div></br>
            <div id="q5">
                <div class="alert alert-secondary" id="q5-q">

                </div>
                <button class="btn btn-primary" onclick="voted(9)" id="q5-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(10)" id="q5-a2">

                </button>
            </div></br>
            <div id="q6">
                <div class="alert alert-secondary" id="q6-q">

                </div>
                <button class="btn btn-primary" onclick="voted(11)" id="q6-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(12)" id="q6-a2">

                </button>
            </div></br>
            <div id="q7">
                <div class="alert alert-secondary" id="q7-q">

                </div>
                <button class="btn btn-primary" onclick="voted(13)" id="q7-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(14)" id="q7-a2">

                </button>
            </div></br>
            <div id="q8">
                <div class="alert alert-secondary" id="q8-q">

                </div>
                <button class="btn btn-primary" onclick="voted(15)" id="q8-a1">

                </button></br></br>
                <button class="btn btn-primary" onclick="voted(16)" id="q8-a2">

                </button>
            </div></br>
    </div>
    <button class="btn btn-success" onclick="submit_vote()">submit</button><div id="remain"></div>
    
</body>

</html>