<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'wait_room.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Waiting Room</title>
</head>
<body style="background-color: powderblue">
<div style="padding-left: 30px; background-color: whitesmoke" class="border-bottom ">
    <h1 class="font"><font face="piron">Waiting Room<img style="margin-left: 28cm"
                                                         onclick="location.href = '{% url 'qoting_app:welcome' %}'"
                                                         src="{% static 'assets/back-button.png' %}" width="40px"
                                                         height="40px"></font></h1>

</div>

<div>
    <div class="container-fluid">
        <div class="row" style="flex-wrap: nowrap">
            <div style="background-color: #F6831F;margin-left: 3.4cm; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5 rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 1</font></h3></center>
                </div>
                <div id="room-1" style="text-align:center;">
                    <room1>
                        0/8
                    </room1>
                </div>
                <div style="margin-top: 1cm; margin-bottom: 1cm">
                    <center>
                        <button id="join-1" class="btn btn-2 btn-2c" type="button" onclick="joinRoom('1')">Join</button>
                    </center>
                </div>
            </div>
            <div style="background-color: #F7CD26; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5 rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 2</font></h3></center>
                </div>
                <div id="room-2" style="text-align:center;">
                    <room2>
                        0/8
                    </room2>


                </div>
                <div class="font" style="margin-top: 1cm">
                    <center>
                        <button id="join-2" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>
            </div>
            <div style="background-color: #DE4628; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5 rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 3</font></h3></center>
                </div>
                <div id="room-3" style="text-align:center;">
                    <room3>
                        0/8
                    </room3>
                </div>
                <div style="margin-top: 1cm">
                    <center>
                        <button id="join-3" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>

            </div>
            <div style="background-color: #A90019; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5 rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 4</font></h3></center>
                </div>
                <div id="room-4" style="text-align:center;">
                    <room4>
                        0/8
                    </room4>
                </div>
                <div style="margin-top: 1cm">
                    <center>
                        <button id="join-4" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="flex-wrap: nowrap">
            <div style="background-color: #301546; margin-left: 3.4cm; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5  rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 5</font></h3></center>
                </div>
                <div id="room-5" style="text-align:center;">
                    <room5>
                        0/8
                    </room5>
                </div>
                <div style="margin-top: 1cm;margin-bottom: 1cm">
                    <center>
                        <button id="join-5" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>
            </div>
            <div style="background-color: #8A1788; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5  rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 6</font></h3></center>
                </div>
                <div id="room-6" style="text-align:center;">
                    <room6>
                        0/8
                    </room6>
                </div>
                <div style="margin-top: 1cm">
                    <center>
                        <button id="join-6" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>
            </div>
            <div style="background-color: #4E1B76; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5 rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 7</font></h3></center>
                </div>
                <div id="room-7" style="text-align:center;">
                    <room7>
                        0/8
                    </room7>
                </div>
                <div style="margin-top: 1cm">
                    <center>
                        <button id="join-7" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>

            </div>
            <div style="background-color: #48C8F6; margin-right: 2cm"
                 class="col-lg-2 border shadow p-3 mb-5  rounded text-white">
                <div>
                    <center><h3><font face="piron">Room 8</font></h3></center>
                </div>
                <div id="room-8" style="text-align:center;">
                    <room8>
                        0/8
                    </room8>
                </div>
                <div style="margin-top: 1cm">
                    <center>
                        <button id="join-8" class="btn btn-2 btn-2c" type="button">Join</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
<script src="{% static 'scripts/main.js' %}"></script>
>

</body>
</html>