<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addquestion.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <title>Waiting Room</title>
</head>
<body>
<div style="padding-left: 30px; padding-bottom: 20px; border-color: black"><h1>Waiting Room</h1></div>

<div>
    <div class="container-fluid">
    <div class="row" style="margin-top: 3cm" >
        <div class="col-lg-3">
            <div><center><h3>Room 1</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary" type="button">Join</button></center></div>
        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 2</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>
        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 3</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>

        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 4</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin-top: 3cm" >
        <div class="col-lg-3">
            <div><center><h3>Room 5</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>
        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 6</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>
        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 7</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>

        </div>
        <div class="col-lg-3">
            <div><center><h3>Room 8</h3></center></div>
            <div style="margin-top: 1cm"><center><button class="btn btn-primary"type="button">Join</button></center></div>
        </div>

    </div>
</div></div>



</body>
</html>